.header{
    width: 100%;
    background-color: white;
    height: 50px;
}
.header__inner{
    height: 100%;
    width: 100%;
    padding: auto 0;
}
.header__logo{
    text-decoration: none;
    color: yellow;
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 10px 0 10px 30px;
    font-family: "Oleo Script", system-ui;
    display: inline-block;
}